<p style="color: green"><%= notice %></p>

<h1>Newspapers</h1>

<div id="newspapers">
  <% @newspapers.each do |newspaper| %>

    <%= render newspaper %>
    <p>
      <%= link_to "Show this newspaper", newspaper %>
      
    </p>
    <p><%= link_to "Filtrar por categoria", filters_index_path(q: newspaper.category_id) %></p>

    

  <% end %>
  
</div>

<%= link_to "New newspaper", new_newspaper_path %>
